*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.box{
    width: 500px;
    background-color: tomato;
    padding: 25px;
    color: white;
    text-align: justify;
    border-radius: 25px;
    margin: 150px auto;
}